<template>
    <div class="col-sm-8 d-flex align-items-stretch">
        <div class="box">
            <div class="box-header"><h3>Box Header</h3>
                <small>Sub title goes here with small font</small>
            </div>
            <div class="box-tool">
                <ul class="nav nav-xs">
                    <li class="nav-item"><a class="nav-link"><i class="fa fa-fw fa-refresh"></i></a></li>
                    <li class="nav-item dropdown"><a class="nav-link" data-toggle="dropdown" aria-expanded="false"><i
                            class="fa fa-fw fa-ellipsis-v"></i></a>
                        <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"
                             style="position: absolute; transform: translate3d(28px, 24px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another
                            action</a> <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item">Separated link</a></div>
                    </li>
                </ul>
            </div>
            <div class="box-body"><p class="m-0 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales
                nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat.<br><br>Phasellus at ultricies
                neque, quis malesuada augue. Donec eleifend condimentum nisl eu consectetur. Integer eleifend, nisl
                venenatis consequat iaculis, lectus arcu malesuada sem, dapibus porta quam lacus eu neque.</p></div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "ItemComponent"
    }
</script>

<style scoped>

</style>