<template>
    <div class="row">
        <post-item>

        </post-item>
    </div>
</template>

<script>
    import PostItem from './ItemComponent';

    export default {
        components: {
            PostItem,
            'post-item': PostItem
        },
        data() {
            return {
                posts: [],
                loading: false
            }
        },
        created() {
            this.loading = true;
            this.load();
        },
        methods: {
            load() {

            }
        }
    }
</script>