<template>
    <div>
        <a href="#" class="btn btn-fw primary" data-toggle="modal" data-target="#dot_add">Добавить</a>

        <div id="dot_add" class="modal show" data-backdrop="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-body text-center p-lg">
                        <div id="dotAdd" style="width: 100%; height: 400px"></div>
                        <div class="text-center mt-4">
                            <pulse-loader :loading="isLoading" :color="'#53a6fa'" :size="'8px'"></pulse-loader>
                        </div>
                        <div class="mt-4 text-center danger p-3" v-show="error">
                            <span>{{ error }}</span>
                        </div>
                        <div>
                            <div class="row mt-3">
                                <div class="col-md-6 col-sm-12 form-group">
                                    <label>Название:</label>
                                    <input type="text" class="form-control" v-model="dot.name"/>
                                </div>
                                <div class="col-md-3 col-sm-12 form-group">
                                    <label>Долгота:</label>
                                    <input disabled="disabled" type="text" v-model="dot.latitude" class="form-control"/>
                                </div>
                                <div class="col-md-3 col-sm-12 form-group">
                                    <label>Широта:</label>
                                    <input disabled="disabled" type="text" class="form-control"
                                           v-model="dot.longitude"/>
                                </div>
                                <div class="col-md-6 col-sm-12 form-group">
                                    <label>Регион:</label>
                                    <input disabled="disabled" type="text" class="form-control" v-model="region.name"/>
                                    <input type="hidden" class="form-control" v-model="region.id"/>
                                </div>
                                <div class="col-md-6 col-sm-12 form-group">
                                    <label>Район:</label>
                                    <input disabled="disabled" type="text" class="form-control"
                                           v-model="district.name"/>
                                    <input type="hidden" class="form-control" v-model="district.id"/>
                                </div>
                                <div class="col-12 form-group">
                                    <label>Алиасы:</label>
                                    <textarea class="form-control" rows="3" v-model="dot.alias"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <label>Список водоемов поблизи (выберите нужный):</label>
                                    <select class="form-control" v-model="dot.water_id">
                                        <option v-for="water in waters" v-bind:value="water.id">{{ water.name }} <span v-if="water.alias && water.alias.length > 0">({{ water.alias }})</span>
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="save-dot" type="submit" v-on:click="save()" class="btn success p-x-md"
                                data-style="zoom-out">
                            <span class="ladda-label">Сохранить</span>
                        </button>
                        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">Отменить</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
    import * as Ladda from 'ladda';

    export default {
        name: "add-component",
        components: {
            PulseLoader
        },
        data: function () {
            return {
                dataLoaded: false,
                isLoading: false,
                map: null,
                placemark: null,
                waters: [],
                dot: {
                    longitude: null,
                    latitude: null,
                    name: null,
                    alias: null,
                    water_id: null,
                    region_id: null,
                    district_id: null,
                },
                region: {
                    id: null,
                    name: null
                },
                district: {
                    id: null,
                    name: null
                },
                error: null,
                modalShow: false,
            }
        },
        mounted() {
            var _self = this;

            ymaps.ready(function () {
                _self.map = new ymaps.Map("dotAdd", {
                    center: [55.76, 37.64],
                    zoom: 7
                });
                _self.map.events.add('click', function (e) {
                    _self.onClick(e)
                });
            });
        },
        methods: {
            onClick(e) {
                var _self = this;
                var coords = e.get('coords');

                _self.isLoading = true;

                if (_self.placemark) {
                    _self.placemark.geometry.setCoordinates(coords);
                }
                else {
                    _self.placemark = _self.createPlacemark(coords);
                    _self.map.geoObjects.add(_self.placemark);
                    _self.placemark.events.add('dragend', function () {
                        _self.waters = [];
                        _self.getAddress(_self.placemark.geometry.getCoordinates());
                    });
                }
                _self.getAddress(coords);
                _self.dot.latitude = coords[0];
                _self.dot.longitude = coords[1];
            },
            createPlacemark(coords) {
                return new ymaps.Placemark(coords, {
                    iconCaption: 'Получение данных...'
                }, {
                    preset: 'islands#violetDotIconWithCaption',
                    draggable: true
                });
            },
            getAddress(coords) {
                var _self = this;

                _self.placemark.properties.set('iconCaption', 'Получение данных...');
                _self.loadData(coords);

                ymaps.geocode(coords).then(function (res) {
                    var firstGeoObject = res.geoObjects.get(0);

                    _self.placemark.properties
                        .set({
                            iconCaption: [
                                firstGeoObject.getLocalities().length ? firstGeoObject.getLocalities() : firstGeoObject.getAdministrativeAreas(),
                                firstGeoObject.getThoroughfare() || firstGeoObject.getPremise()
                            ].filter(Boolean).join(', '),
                            balloonContent: firstGeoObject.getAddressLine()
                        });
                });
            },
            loadData(coords) {
                var _self = this;

                axios.post('/ap/geo/dots/load-nearest-waters', coords).then(response => {
                    _self.waters = response.data.waters;

                    _self.region.id = response.data.region.id;
                    _self.region.name = response.data.region.name;

                    _self.district.id = response.data.district.id;
                    _self.district.name = response.data.district.name;

                    _self.dot.region_id = response.data.region.id;
                    _self.dot.district_id = response.data.district.id;

                    _self.isLoading = false;
                    _self.dataLoaded = true;
                }).catch(error => {
                    _self.error = error.data;
                    _self.isLoading = false;
                    _self.dataLoaded = false;
                });
            },
            save() {
                var _self = this;
                var l = Ladda.create(document.querySelector('#save-dot'));

                l.start();

                axios.post('/ap/geo/dots/edit', {
                    form: {
                        entity: _self.dot
                    }
                }).then(response => {
                    _self.isLoading = false;
                    _self.dataLoaded = true;
                    window.location.reload();
                }).catch(error => {
                    _self.error = error.data;
                    l.stop();
                });
            }
        }
    }
</script>

<style scoped>

</style>