<template>
    <div>

        <div id="dotAdd" style="width: 100%; height: 400px"></div>
        <div class="text-center mt-4">
            <pulse-loader :loading="isLoading" :color="'#53a6fa'" :size="'8px'"></pulse-loader>
        </div>
        <div>
            <div class="row mt-3">
                <div class="col-md-6 col-sm-12 form-group">
                    <label>Название:</label>
                    <input type="text" class="form-control" v-model="dot.name"/>
                </div>
                <div class="col-md-3 col-sm-12 form-group">
                    <label>Долгота:</label>
                    <input disabled="disabled" type="text" v-model="dot.latitude" class="form-control"/>
                </div>
                <div class="col-md-3 col-sm-12 form-group">
                    <label>Широта:</label>
                    <input disabled="disabled" type="text" class="form-control" v-model="dot.longitude"/>
                </div>
                <div class="col-md-6 col-sm-12 form-group">
                    <label>Регион:</label>
                    <input disabled="disabled" type="text" class="form-control" v-model="region.name"/>
                    <input type="hidden" class="form-control" v-model="region.id"/>
                </div>
                <div class="col-md-6 col-sm-12 form-group">
                    <label>Район:</label>
                    <input disabled="disabled" type="text" class="form-control" v-model="district.name"/>
                    <input type="hidden" class="form-control" v-model="district.id"/>
                </div>
                <div class="col-12 form-group">
                    <label>Алиасы:</label>
                    <textarea class="form-control" rows="3" v-model="dot.alias"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label>Список водоемов поблизи (выберите нужный):</label>
                    <select class="form-control" v-model="dot.water_id">
                        <option v-for="water in waters" v-bind:value="water.id">{{ water.name }} <span v-if="water.alias">({{ water.alias }})</span></option>
                        <option v-show="waters.length = 0" v-bind:value="water.id">{{ water.name }} <span v-if="water.alias">({{ water.alias }})</span></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="box-footer text-right">
            <button id="save-dot" type="submit" v-on:click="save()" class="btn success p-x-md" data-style="zoom-out">
                <span class="ladda-label">Сохранить</span>
            </button>
        </div>
    </div>
</template>

<script>
    import PulseLoader from 'vue-spinner/src/PulseLoader.vue'
    import * as Ladda from 'ladda';

    export default {
        name: "add-component",
        props: ['dot', 'region', 'district', 'water'],
        components: {
            PulseLoader
        },
        data: function () {
            return {
                dataLoaded: false,
                isLoading: false,
                map: null,
                placemark: null,
                waters: [],
                error: null,
                modalShow: false,
                dotSimple: null,
            }
        },
        mounted() {
            var _self = this;

            if (!_self.region) {
                _self.region = {
                    id: null,
                    name: null
                };
            }

            if (!_self.district) {
                _self.district = {
                    id: null,
                    name: null
                };
            }

            ymaps.ready(function () {
                _self.map = new ymaps.Map("dotAdd", {
                    center: [_self.dot.latitude, _self.dot.longitude],
                    zoom: 15
                });
                _self.placemark = _self.createPlacemark([_self.dot.latitude, _self.dot.longitude]);
                _self.getAddress(_self.placemark.geometry.getCoordinates());
                _self.map.geoObjects.add(_self.placemark);
                _self.placemark.events.add('dragend', function () {
                    _self.waters = [];
                    _self.getAddress(_self.placemark.geometry.getCoordinates());
                });
                _self.map.events.add('click', function (e) {
                    _self.onClick(e)
                });
            });
        },
        methods: {
            onClick(e) {
                var _self = this;
                var coords = e.get('coords');

                _self.isLoading = true;

                if (_self.placemark) {
                    _self.placemark.geometry.setCoordinates(coords);
                }

                _self.getAddress(coords);
                _self.dot.latitude = coords[0];
                _self.dot.longitude = coords[1];
            },
            createPlacemark(coords) {
                return new ymaps.Placemark(coords, {
                    iconCaption: 'Получение данных...'
                }, {
                    preset: 'islands#violetDotIconWithCaption',
                    draggable: true
                });
            },
            getAddress(coords) {
                var _self = this;

                _self.placemark.properties.set('iconCaption', 'Получение данных...');
                _self.loadData(coords);

                ymaps.geocode(coords).then(function (res) {
                    var firstGeoObject = res.geoObjects.get(0);

                    _self.placemark.properties
                        .set({
                            iconCaption: [
                                firstGeoObject.getLocalities().length ? firstGeoObject.getLocalities() : firstGeoObject.getAdministrativeAreas(),
                                firstGeoObject.getThoroughfare() || firstGeoObject.getPremise()
                            ].filter(Boolean).join(', '),
                            balloonContent: firstGeoObject.getAddressLine()
                        });
                });
            },
            loadData(coords) {
                var _self = this;

                axios.post('/ap/geo/dots/load-nearest-waters', coords).then(response => {
                    _self.waters = response.data.waters;
                    _self.dot.region_id = response.data.region.id;
                    _self.dot.district_id = response.data.district.id;
                    _self.region = {
                        id: response.data.region.id,
                        name: response.data.region.name
                    };
                    _self.district = {
                        id: response.data.district.id,
                        name: response.data.district.name
                    };
                    _self.isLoading = false;
                    _self.dataLoaded = true;
                }).catch(error => {
                    _self.error = error.data;
                    _self.isLoading = false;
                    _self.dataLoaded = false;
                });
            },
            save() {
                var _self = this;
                var l = Ladda.create(document.querySelector('#save-dot'));

                l.start();

                delete _self.dot.region;
                delete _self.dot.district;
                delete _self.dot.water;

                axios.post('/ap/geo/dots/edit', {
                    form: {
                        entity: _self.dot,
                        row: {
                            id: _self.dot.id
                        },
                    }
                }).then(response => {
                    window.location = response.data;
                }).catch(error => {
                    _self.error = error.data;
                    l.stop();
                });
            }
        }
    }
</script>

<style scoped>

</style>