<template>
    <div class="col-sm-12 col-md-6 col-lg-6" v-bind:id="'post_' + post.id">
        <div class="box">
            <iframe class="embed-responsive-item" width="100%" height="400px" v-for="attachment in post.attachments" v-bind:src="'https://www.youtube.com/embed/' + attachment.value" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <div class="box-body">
                <div class="form-group">
                    <select class="form-control form-control-sm" v-model="params.category">
                        <option v-for="category in categories" v-bind:value="category.id">
                            {{ category.name }}
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" v-model="params.title"/>
                </div>
                <div class="form-group">
                    <textarea class="form-control" rows="5" v-model="params.content"></textarea>
                </div>
                <div class="form-group text-right">
                    <input type="button" class="btn btn-sm success" value="Сохранить" v-on:click="update()" />
                    <input type="button" class="btn btn-sm danger" value="Удалить" v-on:click="remove()" />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "YoutubeItemComponent",
        data() {
            return {
                params: {
                    category: null,
                    title: null,
                    content: null,
                }
            }
        },
        props: [
            'post', 'categories'
        ],
        created() {
            this.params.id = this.post.id;
            this.params.title = this.post.title;
            this.params.content = this.post.content;
        },
        methods: {
            update() {
                var _self = this;

                if (_self.params.category !== null) {
                    axios.post('/ap/youtube/ajax/edit', _self.params).then(response => {
                        $.jGrowl(response.data.message, {
                            header: 'Успешно!',
                            theme: 'bg success'
                        });

                        document.getElementById('post_' + _self.params.id).remove();
                    }).catch(error => {
                        _self.error = error.data.message;

                        $.jGrowl(_self.error, {
                            header: 'Ошибка!',
                            theme: 'bg danger'
                        });
                    });
                } else {
                    $.jGrowl('Для сохранения выберите категорию', {
                        header: 'Ошибка!',
                        theme: 'bg danger'
                    });
                }
            },
            remove() {
                var _self = this;

                axios.post('/ap/youtube/ajax/delete', _self.params).then(response => {
                    $.jGrowl(response.data.message, {
                        header: 'Успешно!',
                        theme: 'bg success'
                    });

                    document.getElementById('post_' + _self.params.id).remove();
                });
            }
        }
    }
</script>

<style scoped>

</style>