<template>
    <div class="row">
        <youtube-item v-for="post in posts" :post="post" :key="post.id" :categories="categories"></youtube-item>
        <div class="col-12 text-center">
            <div v-if="posts.length == 0">
                Новых видео нет
            </div>
        </div>
    </div>
</template>

<script>
    import YoutubeItem from './ItemComponent';

    export default {
        components: {
            YoutubeItem,
            'youtube-item': YoutubeItem
        },
        props: [
            'categories'
        ],
        data() {
            return {
                posts: [],
                loading: false
            }
        },
        created() {
            this.loading = true;
            this.load();
        },
        methods: {
            load() {
                var _self = this;

                axios.get('/ap/youtube/ajax/loading').then(response => {
                    _self.posts = response.data.data;
                }).catch(error => {
                    _self.error = error.message;
                });

                _self.loading = false;
            }
        }
    }
</script>