<template>
    <div>
        <select v-bind:id="'_' + id" v-bind:name="'_' + name" class="form-control">
            <option v-if="value" selected="selected" v-bind:value="value">{{ text }}</option>
        </select>
        <input v-bind:id="id" v-bind:name="name" v-bind:value="value" type="hidden">
    </div>
</template>

<script>
    import select2 from 'select2';

    export default {
        name: "uneight-autocomplete",
        props: [
            'id', 'name', 'selected', 'placeholder', 'route'
        ],
        data() {
            return {
                value: null,
                text: ''
            }
        },
        mounted() {
            let self = this;

            self.value = this.selected.id;
            self.text = this.selected.text;

            $(this.$el).children('select').select2({
                placeholder: this.placeholder,
                allowClear: true,
                width: '100%',
                ajax: {
                    url: this.route,
                    type: 'post',headers: {
                        'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                    },
                    data: function (params) {
                        return {
                            query: params.term
                        };
                    },
                    processResults: function (data) {
                        return {
                            results: data
                        };
                    }
                },
                minimumInputLength: 3
            }).on('select2:select', function (e) {
                self.value = e.params.data.id;
                self.text = e.params.data.text;
            }).on('select2:unselect', function (e) {
                self.value = null;
                self.text = '';
            });
        }
    }
</script>