<template>
    <div class="collapse navbar-collapse no-grow order-lg-1" id="navbarToggler">
        <form class="input-group m-2 my-lg-0">
                    <span class="input-group-btn">
                        <button type="button" class="btn no-border no-bg no-shadow">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
            <input type="text" class="form-control no-border no-bg no-shadow" placeholder="Поиск...">
        </form>
    </div>
</template>

<script>
    export default {
        name: "SearchFormComponent"
    }
</script>

<style scoped>

</style>