<template>
    <div class="box collapse show mt-3" id="reply-1">
        <textarea style="resize: none" class="form-control no-border" rows="1" placeholder="Type something..."
                  v-model="text"></textarea>
        <div class="p-2" v-show="attachments.length > 0">
            <div>
                <small>Вложения:</small>
            </div>
            <div class="row">
                <div v-for="attachment in attachments" class="col-6 attachment">
                    <div v-if="attachment.type == 'video'" class="embed-responsive embed-responsive-16by9 border">
                        <iframe class="embed-responsive-item"
                                v-bind:src="'https://www.youtube.com/embed/' + attachment.value"
                                frameborder="0" allow="encrypted-media"></iframe>
                        <a href="" v-on:click.prevent="removeVideo(attachment)" class="text-center p-1 remove_line"><i class="fa fa-times"></i> Удалить</a>
                    </div>
                    <div v-if="attachment.type == 'image'" class="border">
                        <img width="100%" v-bind:src="attachment.src" />
                        <div v-on:click.prevent="removeImage(attachment)" class="text-center p-1 remove_line"><i class="fa fa-times"></i> Удалить</div>
                    </div>
                </div>
            </div>
        </div>
        <div v-if="errors" class="p-2">
            <div v-for="error in errors">
                <small v-for="text in error" class="text-danger">{{ text }}</small>
            </div>
        </div>
        <div class="box-footer clearfix">
            <a href="" class="btn info float-right btn-sm" v-on:click.prevent="send()">Комментировать</a>
            <ul class="nav nav-pills nav-sm">
                <li class="nav-item form-file">
                    <a class="nav-link" href="#" v-on:click.prevent="fileChangeHandler()"><i
                            class="fa fa-camera text-muted"></i></a>
                    <input v-if="fileReady" type="file" multiple="multiple" value="" name="images" ref="file" v-on:change="addPictures"/>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" :data-target="'#addVideoModal_' + post_id">
                        <i class="fa fa-video-camera text-muted"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div :id="'addVideoModal_' + post_id" class="modal show" data-backdrop="true">
            <div class="row-col h-v">
                <div class="row-cell v-m">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="modal-body p-lg">
                                <div class="form-group">
                                    <label>Введите адрес видео:</label>
                                    <input type="text" v-model="video_url" value="" name="video"
                                           placeholder="https://www.youtube.com/watch?v=Bey4XXJAqS8"
                                           class="form-control"/>
                                </div>
                                <div class="text-right">
                                    <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">Отменить
                                    </button>
                                    <button type="button" class="btn success p-x-md" data-dismiss="modal"
                                            v-on:click.prevent="addVideo()">Добавить
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "add-comment",
        props: ['post_id'],
        data() {
            return {
                data: null,
                text: '',
                attachments: [],
                errors: null,
                percentCompleted: 0,
                video_url: null,
                fileReady: true
            }
        },
        methods: {
            addPictures(event) {
                let vm = this;

                Array.from(event.target.files).map(function (value, key) {
                    vm.attachments.push({type: 'image', value: value, src: URL.createObjectURL(value)});
                });
            },
            addVideo() {
                let attachment = {type: 'video', 'value': this.video_url};
                if (this.video_url.length > 0) {
                    this.attachments.push(attachment);
                    this.video_url = null;
                }
            },
            removeVideo(attachment) {
                this.attachments.splice(this.attachments.indexOf(attachment), 1);
            },
            removeImage(attachment) {
                this.attachments.splice(this.attachments.indexOf(attachment), 1);
            },
            fileChangeHandler() {
                this.$refs.file.click();
            },
            send() {
                let vm = this;

                vm.data = new FormData();

                vm.errors = null;
                vm.data.append('text', vm.text);
                vm.data.append('post', vm.post_id);

                vm.attachments.map(function (object, key) {
                    vm.data.append('attachments[' + object.type + 's][]', object.value);
                });

                axios.post('/comments', vm.data)
                    .then(response => {
                        vm.text = null;
                        vm.attachments = [];
                        vm.errors = null;
                        vm.video_url = null;
                        vm.fileReady = false;
                        vm.$nextTick(() => {
                            vm.fileReady = true;
                        });
                        vm.$emit('commentAdded');
                    })
                    .catch(error => {
                        vm.errors = error.response.data.errors;
                    });
            }
        },
        mounted() {

        }
    }
</script>

<style scoped>
    .attachment {

    }
    .attachment > div {
        position: relative;
    }
    .attachment:hover .remove_line {
        display: block;
    }
    .remove_line {
        cursor: pointer;
        position: absolute;
        width: 100%;
        bottom: 0;
        background: rgba(62, 62, 62, 0.52);
        color: #fff;
        display: none;
    }
</style>