<template>
    <div>
        <div v-if="isLoading" class="text-center">
            <loader :loading="isLoading" :size="'8px'"></loader>
        </div>
        <div class="streamline" v-show="list.length">
            <div v-for="comment in list" class="sl-item b-info">
                <div class="sl-content">
                    <div>
                        <a v-bind:href="'/profile/' + comment.user_id">
                            @{{ (comment.user) ? ((comment.user.full_name) ? comment.user.full_name : comment.user.login) : 'Chebak.ru' }}
                        </a>
                        <span class="sl-date text-muted"><i class="fa fa-fw fa-clock-o"></i>{{ comment.created_at }}</span>
                    </div>
                    <div class="mt2">
                        {{ comment.content }}
                    </div>
                    <div v-if="comment.attachments" class="row">
                        <div v-for="attachment in comment.attachments" class="col-6">
                            <div v-if="attachment.type == 'youtube'">
                                <iframe class="embed-responsive-item"
                                        v-bind:src="'https://www.youtube.com/embed/' + attachment.value"
                                        frameborder="0" allow="encrypted-media"></iframe>
                            </div>
                            <div v-if="attachment.type == 'image'">
                                <img width="100%" v-bind:src="attachment.value" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <add-comment v-if="user" :post_id="post_id" @commentAdded="load()"></add-comment>
    </div>
</template>

<script>
    import AddComments from './AddComment';
    import BeatLoader from 'vue-spinner/src/BeatLoader.vue'

    export default {
        name: "Comments",
        props: ['post_id', 'user'],
        components: {
            'add-comment': AddComments,
            'loader': BeatLoader
        },
        data() {
            return {
                list: [],
                isLoading: false
            }
        },
        methods: {
            load() {
                let vm = this;

                vm.isLoading = true;

                axios.post('/comments/load', {
                    post: this.post_id,
                }).then(response => {
                    this.list = response.data;
                    vm.isLoading = false;
                }).catch(exception => {
                    this.errors.push(exception);
                    vm.isLoading = false;
                });
            }
        },
        mounted() {
            this.load();
        }
    }
</script>

<style scoped>

</style>