/*!
 * Ladda including the default theme.
 */
@import "~ladda/css/ladda";

/*************************************
 * CONFIG
 */

/*************************************
 * BUTTON THEME
 */

.ladda-button {
  background: #666;
  border: 0;
  cursor: pointer;

  color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;

  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:hover {
    border-color: rgba(0, 0, 0, 0.07);
    background-color: #888;
  }

  @include buttonColor('success', $success);
  @include buttonColor('danger', $danger);
  @include buttonColor('warning', $warning);
  @include buttonColor('info', $info);
  @include buttonColor('primary', $primary);
  @include buttonColor('accent', $accent);
  @include buttonColor('warn', $warn);

  &[disabled],
  &[data-loading] {
    border-color: rgba(0, 0, 0, 0.07);

    &, &:hover {
      cursor: default;
      background-color: #999;
    }
  }
}
